@keyframes masuk{
  0% {transform: translateY(0); opacity: 0.3;}
  20% {transition: translateY(2vh);opacity :0.6;}
  50% {transform: translateY(3vh); opacity: 0.9;}
  100%{transition: translateY(0); opacity: 1;}
}
@keyframes animateDown {
  0% { opacity: 0; transform: translateY(-10px); }
  100% { opacity: 1; transform: translateY(0); }
}
:root {
  interpolate-size: allow-keywords;
details::details-content {
  opacity: 0;
  block-size: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, block-size 0.3s ease, content-visibility 0.3s ease allow-discrete;
} 
.set1 {
  animation: masuk 1s ;
}
.set2 {
  animation: masuk 2s;
}
.set3 {
  animation: masuk 3s;
}
.set4 {
  animation: masuk 4s;
}
.set5 {
  animation: masuk 5s;
}
.set6 {
  animation: masuk 6s;
}
table{
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  background-color: hwb(0 68% 32%);
  border-radius: 5vh;
  margin: 4px;
  box-shadow: 0vh 0.5vh 0vh 0.5vh;
  text-align: center;
  font-size: 1.5vh;
}
details[open]::details-content {
  opacity: 1;
  block-size: auto;
}
.judul{
  text-align: center;
  font-size: 6vh;
}
thead,tbody{
  margin:0px;
}
div h1{
  text-align: center;
  font-size: 3vh;
}
div {
  background:white;
  border: 0.5vh solid black;
  border-radius: 6vh;
  width: 100%;
  margin-top: 4vh;
}
details {
  width: 100%;
  box-shadow: 1vh 1vh 1vh 1vh rgba(0, 0, 0, 0.15);
  border-radius:2vh;
  margin-bottom: 3vh;
  background: hwb(0 52% 48%);
}
summary {
  font-size: 2.5vh;
  padding: 2vh;
  list-style:none;
  box-shadow: 0vh 0.5vh 0vh 0.5vh;
  border-radius: 2vh;
}
