details {
  width: 6vh;
  height: 100%;
  transition: width 0.3s;
  overflow: hidden;
  border-radius: 1vh;
  box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.15);
  color:#000;
}
details[open] {
  width: 23vh;
}
summary {
  cursor: pointer;
  padding: 1vh 1.6vh;
  font-size: 3vh;
  list-style: none;
}

.menu {
  margin: 9vh 0;
  padding: 0 3vh;
  list-style:none;
}
.menu li{
  margin: 3vh 4vh;
  cursor: pointer;
  font-size: 6vh;
  letter-spacing: 1vh;
}
.menu a {
  display: flex;
  color: black;
  font-size: 2vh;
  text-decoration: none;
}
div {
  min-height: 98vh;
  max-height: 100vh;
}
h1,p {
  align-content: center;
  display: grid;
  justify-content: center;
  text-align: center;
  animation: transisi 3s;
  }
h1 {
  font-size: 2.5vh;
}
p {
  font-size: 2vh;
}
@keyframes transisi{
  0% {transform: translateY(0); opacity: 0;}
  50%{transform: translateY(-4vh); opacity:0.5 ;}
  100%{transition: translateY(-4vh); opacity: 1;}
}